# LeetCode Solutions in Rust

This repository contains my solutions to various problems on LeetCode in Rust, with the purpose of learning and improving my Rust skills. Each solution is contained in a separate file in the src/solutions directory, named sxxxx.rs where xxxx is the problem number.

## Usage

To run the tests for a specific problem, use the command `cargo test solutions::sxxxx::test`, where `xxxx` is the problem number. For example, to run the tests for problem 1, use `cargo test solutions::s0001::test`.

## Problems solved

The following is a list of problems that have been solved, along with the corresponding file names in the src/solutions directory:

| Problem | Solution | Link |
|---------|----------|------|
{% for problem in problems -%}
| {{ problem.title }} | [{{ problem.file }}](src/solutions/{{ problem.file }}) | [LeetCode]({{ problem.url }}) |
{% endfor %}

## Contributions

Feel free to submit a pull request if you find any errors or want to suggest an alternative solution.

## Disclaimer

These solutions are my own and may not be the most efficient or optimal solution to each problem. They are meant to be a way for me to learn and practice Rust, and I encourage you to come up with your own solutions and approaches to each problem.
